WebServices/06.WCF/WCF_HW/StringsOperatorHost/Service References/StringsOperatorService/StringsOperator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetCountFStringContainsSecond">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="str2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountFStringContainsSecondResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountFStringContainsSecondResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>