DB/01.XMLBasics/xml_basics/students1.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="name" type="xs:string" />
  <xs:element name="sex" type="xs:string" />
  <xs:element name="birth_date" type="xs:string" />
  <xs:element name="phone" type="xs:string" />
  <xs:element name="email" type="xs:string" />
  <xs:element name="course" type="xs:string" />
  <xs:element name="specialty" type="xs:string" />
  <xs:element name="faculty_number" type="xs:unsignedShort" />
  <xs:element name="tutor" type="xs:string" />
  <xs:element name="score" type="xs:unsignedByte" />
</xs:schema>